# Create .env.dev for development or .env.prod for production and fill in the values
##
# Authentication method: 'local' or 'gov'
APP_AUTH_METHOD=""
## Aplication Secret Key
SECRET_KEY=""
## NODE Environment: 'development' or 'production'
NODE_ENV=""